* {
  box-sizing: border-box;
}

h1 {
  font-size: 150px;
  margin-top: 45px;
  margin-left: 320px;
  color: rgb(167, 212, 190);
}
body {
  margin: 0;
}

.grid {
  display: flex;
}

.grid div {
  flex: 1;
  height: 50px;
  background-color: #cccccc;
  margin: 20px;
}

.grid .one {
  background-color: #52a504;
}

.grid .two {
  background-color: rgb(61, 216, 177);
}

.grid .three {
  background-color: rgba(104, 216, 89, 0.75);
}

.grid .four {
  background-color: rgba(13, 104, 156, 0.76);
}

.parent {
  width: 80%;
  margin: auto;
  height: 600px;
  position: relative;
  border: 20px solid #85d682;
}

.parent .one {
  flex:1
  top: 0;
  left: 0;
  background-color: rgba(240, 255, 80, 0.65);
  width: 1225px;
  height: 220px;
}

.parent .three {
  flex: 2
  bottom: 0px;
  left: 0;
  background-color: rgba(122, 221, 102, 0.815);
  width: 1225px;
  height: 210px;
}
.parent .four {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: rgba(39, 223, 121, 0.5);
  width: 1225px;
  height: 200px;
}
